Repository dcsouthwick/iobmk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_python_support, test_yaml_files

test_python_support:
  stage: test-components
  dependencies: []
  script:
  - yum install -y -q python3-pip
  - python3 -m pip install vermin
  - vermin -vv .

test_yaml_files:
  stage: test-components
  dependencies: []
  script:
  - yum install -y -q yamllint
  - cd hepbenchmarksuite/config
  - yamllint benchmarks.yml
  allow_failure: true

additional coverage
  .gitlab-ci.yml
  tests/test_send_queue.py
  tox.ini
Due: test_yaml_files

-p shortflag, remove tests that cannot run outside of protected branches
  .gitlab-ci.yml
  bin/bmkrun
Due: test_python_support, test_yaml_files

update readme, example amq yaml def
  .coveragerc
  README.md
  bin/bmkrun
  hepbenchmarksuite/config/benchmarks.yml
Due: test_python_support

naughty copypasta
  hepbenchmarksuite/config/benchmarks.yml
Due: none

Attempt to fix hierarchical logging
  bin/bmkrun
  hepbenchmarksuite/plugins/send_queue.py
Due: test_python_support

sanitize hepspec06 preflight check
  hepbenchmarksuite/hepbenchmarksuite.py
Due: none

BMK-411 Implement log extractor.
  README.md
  bin/bmk_show_metadata
  bin/bmkrun
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/utils.py
  setup.py
Due: test_python_support

BMK-495 Implement fix for pre-flight fail; Added custom raise conditions.
  bin/bmkrun
  hepbenchmarksuite/exceptions.py
  hepbenchmarksuite/hepbenchmarksuite.py
Due: test_python_support

Joined failure exceptions
  bin/bmkrun
Due: test_python_support

Fix exception with tuple
  bin/bmkrun
Due: test_python_support

BMK-415: update hepscore import method, small bugfixes to AMQ
  README.md
  bin/bmkrun
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/plugins/send_queue.py
  hepbenchmarksuite/utils.py
  requirements.txt
  test-requirements.txt
  tests/test_send_queue.py
  tests/test_utils.py
  tox.ini
Due: test_python_support

move hepscore results json under named key
  hepbenchmarksuite/hepbenchmarksuite.py
Due: none

fix spec volume dir creation, update JSON version to v2.1-dev
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/utils.py
Due: none

spec2017 path creation
  .gitlab-ci.yml
  hepbenchmarksuite/hepbenchmarksuite.py
Due: test_yaml_files

BMK-500 Include unit testing for print_results
  hepbenchmarksuite/utils.py
  tests/data/valid_print_results_sample
  tests/test_utils.py
Due: none

Add missing sample file
  tests/data/result_profile_sample.json
Due: none

BMK-392 Update license and tag to ticket
  AUTHORS
  COPYING
  LICENSE
Due: none

BMK-503 Modify hep-benchmark-suite directory structure
  bin/bmkrun
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/utils.py
Due: test_python_support

Update benchmarks.yml
  hepbenchmarksuite/config/benchmarks.yml
Due: none

Attempt to fix artifact export issue
  .gitlab-ci.yml
Due: test_yaml_files

Fix the mv from artifacts
  .gitlab-ci.yml
Due: test_yaml_files

Call hepscore.write_output() unconditionally.
  hepbenchmarksuite/utils.py
Due: none

closes BMK-506, BMK-507
  requirements.txt
  setup.py
Due: test_python_support

use correct private repo syntax for hep-score import
  setup.py
Due: test_python_support

update README with install instructions, update CI job with same
  .gitlab-ci.yml
Due: test_yaml_files

update readme to reflect pip req
  README.md
Due: none

README section for known errors + resolutions
  README.md
Due: none

Move details to __version__ file and and --version cli argument.
  bin/bmkrun
  hepbenchmarksuite/__version__.py
  setup.py
Due: test_python_support

AMQ CI
  .gitlab-ci.yml
  docker-images/es-extractor/Dockerfile
  docker-images/es-extractor/requirements.txt
  docker-images/logstash/Dockerfile
  tests/docker_compose_amq_to_es/ci_run_script.sh
  tests/docker_compose_amq_to_es/docker-compose.yml
  tests/docker_compose_amq_to_es/es_conf/es_query.json
  tests/docker_compose_amq_to_es/es_conf/ref_hepscore_output.json
  tests/docker_compose_amq_to_es/es_conf/ref_summary_output.json
  tests/docker_compose_amq_to_es/logstash_conf/generator.conf
  tests/docker_compose_amq_to_es/logstash_conf/test-amq-logstash.conf
  tests/docker_compose_amq_to_es/logstash_conf/vmspec-consumer.conf
  tests/docker_compose_amq_to_es/query_es.py
  tests/qa_send_queue.bat
Due: test_yaml_files

Fix numa and improve hwmetadata tests
  hepbenchmarksuite/plugins/extractor.py
  test-requirements.txt
  tests/data/CPU_AMD.sample
  tests/data/CPU_Intel.sample
  tests/test_hwmetadata.py
Due: none

Fix license output
  setup.py
Due: test_python_support

update unitttests to BMK-500 changes
  tests/test_send_queue.py
  tests/test_utils.py
Due: none

enable new gitlab unit test reporting, use junit format
  .gitignore
  .gitlab-ci.yml
  tox.ini
Due: test_yaml_files

enforce testing except pep8
  .gitlab-ci.yml
Due: test_yaml_files

temporarily allow security test passing
  .gitlab-ci.yml
Due: test_yaml_files

update logic for AMQ publish flag
  .gitignore
  bin/bmkrun
Due: test_python_support

Hepscore yaml update
  .gitlab-ci.yml
  hepbenchmarksuite/config/benchmarks.yml
  tests/benchmarks_ci_test.yml
Due: test_yaml_files

BMK-513 Resolve current severe security issues reported by Bandit
  .gitlab-ci.yml
  README.md
  bin/bmk_show_metadata
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
  tests/test_utils.py
  tox.ini
Due: test_python_support, test_yaml_files

Revert "Merge branch 'subprocess_security' into 'qa-v2.0'"
  .gitlab-ci.yml
  README.md
  bin/bmk_show_metadata
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
  tests/test_utils.py
  tox.ini
Due: test_python_support, test_yaml_files

Update HS06 and SPEC2017 registry tag in config
  hepbenchmarksuite/config/benchmarks.yml
  tests/data/result_profile_sample.json
Due: none

Path conditions:
  test_python_support: any of: *.py, bin/*
  test_yaml_files: any of: *.yaml, *.yml
