Repository dcsouthwick/iobmk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_logstash_image, build_elasticsearch_image, job_build_logstash_image, job_build_elasticsearch_image, python_supported_versions, YAML_lint

Path conditions:
  build_logstash_image: any of: docker-images/logstash/*
  build_elasticsearch_image: any of: docker-images/es-extractor/*
  job_build_logstash_image: any of: docker-images/logstash/*
  job_build_elasticsearch_image: any of: docker-images/es-extractor/*
  python_supported_versions: any of: **/*.py, bin/*
  YAML_lint: any of: **/*.yaml, **/*.yml

BMK-699 Return -1 for invalid HW metadata fields with type int/float
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
  tests/test_hwmetadata.py
  tests/test_utils.py
Due: python_supported_versions

Display the version for the selected runmode only.
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
  tests/test_hwmetadata.py
Due: python_supported_versions

BMK-418 Add and extend Suite examples.
  .gitlab-ci.yml
  README.md
  examples/README.md
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore_default.sh
  examples/hepscore/run_HEPscore_on_HPC_slurm.sh
  examples/spec/run_HS06.sh
  hepbenchmarksuite/config/benchmarks.yml
  tests/test_utils.py
Due: python_supported_versions, YAML_lint

BMK-300 Update documentation
  README.md
  doc/images/HEP-Benchmark-Suite-Json.png
  doc/images/HEP-Benchmark-Suite-Workflow.png
  doc/images/HEP-Benchmark-Suite.png
Due: none

BMK-709 Update hepscore rc version
  hepbenchmarksuite/config/benchmarks.yml
  tests/ci/benchmarks.yml
  tests/test_utils.py
Due: python_supported_versions, YAML_lint

BMK-709 Update hepscore ci file
  tests/ci/hepscore.yaml
Due: YAML_lint

BMK-709 update hepscore import.
  hepbenchmarksuite/benchmarks.py
Due: python_supported_versions

BMK-710 Update license
  COPYRIGHT
  bin/bmk_show_metadata
  bin/bmkrun
  hepbenchmarksuite/__init__.py
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/benchmarks.py
  hepbenchmarksuite/db12.py
  hepbenchmarksuite/exceptions.py
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/plugins/send_queue.py
  hepbenchmarksuite/utils.py
  tests/test_benchmarks.py
  tests/test_hwmetadata.py
  tests/test_suite.py
  tests/test_utils.py
Due: python_supported_versions

BMK-713 Fix hepscore paths, drop importlib-resources
  .gitignore
  .pylintrc
  bin/bmk_show_metadata
  bin/bmkrun
  hepbenchmarksuite/benchmarks.py
  hepbenchmarksuite/config/benchmarks.yml
  requirements.txt
  setup.py
  test-requirements.txt
  tests/test_utils.py
  tox.ini
Due: python_supported_versions, YAML_lint

Fix hepscore default load
  hepbenchmarksuite/benchmarks.py
Due: python_supported_versions

BMK-698 Display container engine version
  hepbenchmarksuite/hepbenchmarksuite.py
Due: python_supported_versions

BMK-711 Sync metadata version with suite
  hepbenchmarksuite/utils.py
  tests/test_utils.py
Due: python_supported_versions

bump hepscore to rc14, attach wheels to tags
  .gitlab-ci.yml
  hepbenchmarksuite/config/benchmarks.yml
  tests/test_utils.py
Due: python_supported_versions, YAML_lint

Update hepscore success return code
  hepbenchmarksuite/hepbenchmarksuite.py
  tests/ci/benchmarks.yml
Due: python_supported_versions, YAML_lint

BMK-717 Add documentation to wheel installation
  README.md
  hepbenchmarksuite/__version__.py
Due: python_supported_versions

Update hepscore to v1.0
  .gitlab-ci.yml
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore_default.sh
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/config/benchmarks.yml
  tests/ci/benchmarks.yml
  tests/test_utils.py
Due: python_supported_versions, YAML_lint

Update CI test to v1.8 image
  tests/docker_compose_amq_to_es/ci_run_script.sh
Due: none

BMK-719 update CI image build
  .gitlab-ci.yml
  docker-images/hep-benchmark-suite/Dockerfile-cc7
Due: YAML_lint

Add support information
  README.md
Due: none

Pre-append version for metada consitency
  hepbenchmarksuite/__version__.py
Due: python_supported_versions

updating version in examples and example w/ wheels
  examples/hepscore/run_HEPscore_default.sh
  examples/hepscore/run_HEPscore_default_from_wheels.sh
  examples/hepscore/run_HEPscore_on_HPC_slurm.sh
Due: none

Update wheel distribution
  .gitlab-ci.yml
  README.md
  hepbenchmarksuite/__version__.py
Due: python_supported_versions, YAML_lint

BMK-635 Release Suite version 2.0
  README.md
  examples/spec/run_HS06.sh
  hepbenchmarksuite/__version__.py
  requirements.txt
Due: python_supported_versions

Update COPYING to GNU GPLv3
  LICENSE
Due: none

Delete LICENSE
  LICENSE
Due: none

Add LICENSE
  LICENSE
Due: none

rename to avoid path collision with upstream
  .gitlab-ci.yml
  AUTHORS
  COPYRIGHT
  README.md
  VERSION
  downloaded_README.md
  iobenchmarksuite/__init__.py
  iobenchmarksuite/__version__.py
  iobenchmarksuite/benchmarks.py
  iobenchmarksuite/config/__init__.py
  iobenchmarksuite/config/benchmarks.yml
  iobenchmarksuite/db12.py
  iobenchmarksuite/exceptions.py
  iobenchmarksuite/iobenchmarksuite.py
  iobenchmarksuite/plugins/extractor.py
  iobenchmarksuite/plugins/send_queue.py
  iobenchmarksuite/utils.py
  metadata.tmp
  requirements.txt
  setup.py
  test-requirements.txt
  tests/test_benchmarks.py
  tests/test_hwmetadata.py
  tests/test_send_queue.py
  tests/test_suite.py
  tests/test_utils.py
  tox.ini
Due: python_supported_versions, YAML_lint

Update README.md
  README.md
Due: none

test work, fix bin collisions, use black
  .gitattributes
  .gitlab-ci.yml
  MANIFEST.in
  bin/bmkrun
  bin/iobmk
  bin/show_metadata
  docker-images/es-extractor/Dockerfile
  docker-images/es-extractor/requirements.txt
  docker-images/hep-benchmark-suite/Dockerfile-cc7
  docker-images/logstash/Dockerfile
  downloaded_README.md
  iobenchmarksuite/__init__.py
  iobenchmarksuite/__version__.py
  iobenchmarksuite/_static_version.py
  iobenchmarksuite/_version.py
  iobenchmarksuite/benchmarks.py
  iobenchmarksuite/db12.py
  iobenchmarksuite/exceptions.py
  iobenchmarksuite/iobenchmarksuite.py
  iobenchmarksuite/utils.py
  metadata.tmp
  pyproject.toml
  setup.cfg
  setup.py
  test-requirements.txt
  tests/test_utils.py
Due: build_logstash_image, build_elasticsearch_image, job_build_logstash_image, job_build_elasticsearch_image, python_supported_versions, YAML_lint
