Repository dcsouthwick/iobmk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job_build_logstash_image, job_build_elasticsearch_image, test_python_support, test_yaml_files

job_build_logstash_image:
  image:
    name: gitlab-registry.cern.ch/ci-tools/docker-image-builder
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

job_build_elasticsearch_image:
  image:
    name: gitlab-registry.cern.ch/ci-tools/docker-image-builder
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

test_python_support:
  stage: test-components
  dependencies: []
  script:
  - yum install -y -q python3-pip
  - python3 -m pip install -U pip vermin
  - vermin -vv .

test_yaml_files:
  stage: test-components
  dependencies: []
  script:
  - yum install -y -q yamllint
  - cd hepbenchmarksuite/config
  - yamllint benchmarks.yml

revert subprocess changes
  README.md
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
Due: none

Deploy for tags
  .gitlab-ci.yml
Due: test_yaml_files

Update code quality for MR pipelines, add badge to README
  .gitlab-ci.yml
  README.md
Due: test_yaml_files

update hepscore yaml test to automatically get latest from qa-v1.0
  .gitlab-ci.yml
  hepbenchmarksuite/config/benchmarks.yml
  tests/benchmarks_ci_test.yml
Due: test_yaml_files

Move instalation from setup to runtime
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/exceptions.py
  hepbenchmarksuite/utils.py
  setup.py
  tests/test_benchmarks.py
  tests/test_utils.py
Due: test_python_support

Decouple suite; added config path option.
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/utils.py
  tests/benchmarks_ci_test.yml
  tests/test_benchmarks.py
Due: none

Remove CI test which was only needed when we redistributed the config of hep-score.
  .gitlab-ci.yml
Due: test_yaml_files

Add badge for license and python support.
  README.md
Due: none

Add importlib-metadata until we dont move to Python3.8
  setup.py
Due: test_python_support

Change to table format
  README.md
Due: none

Add hepscore config for CI
  hepbenchmarksuite/hepbenchmarksuite.py
  tests/benchmarks_ci_test.yml
  tests/hepscore_ci.yaml
Due: none

Roll to a previous hep-score ci version
  hepbenchmarksuite/hepbenchmarksuite.py
  tests/hepscore_ci.yaml
Due: none

Fix metadata json data types
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
  tests/test_hwmetadata.py
Due: none

Resolve BMK-578
  .gitlab-ci.yml
  README.md
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/exceptions.py
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/utils.py
  setup.py
  tests/benchmarks_ci_test.yml
  tests/hepscore_ci.yaml
  tests/test_benchmarks.py
  tests/test_utils.py
Due: test_python_support, test_yaml_files

get changes from qa-v2.0
  hepbenchmarksuite/utils.py
Due: none

Fix import order of bmkrun and utils
  bin/bmkrun
  hepbenchmarksuite/utils.py
Due: test_python_support

Fixed some style warnings from pep8
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
Due: none

relax schema checks for the CI which has limited cpu output
  tests/test_hwmetadata.py
Due: none

Add Or condition to fix tests on machines
  tests/test_hwmetadata.py
Due: none

Decouple benchmark specific code from utils code.
  hepbenchmarksuite/benchmarks.py
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/utils.py
  tests/test_benchmarks.py
Due: none

Add suite and benchmark versions metadata
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/utils.py
Due: none

Add metadata to tests
  tests/data/result_profile_sample.json
  tests/docker_compose_amq_to_es/es_conf/ref_summary_output.json
Due: none

Fix json file
  tests/data/result_profile_sample.json
  tests/docker_compose_amq_to_es/es_conf/ref_summary_output.json
Due: none

Update missing reference file
  tests/docker_compose_amq_to_es/es_conf/ref_hepscore_output.json
Due: none

add remaining versions to fix ci
  tests/docker_compose_amq_to_es/es_conf/ref_hepscore_output.json
Due: none

Fix broken json
  tests/docker_compose_amq_to_es/es_conf/ref_hepscore_output.json
Due: none

Add support for remote fetching hepscore configuration
  hepbenchmarksuite/benchmarks.py
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/utils.py
  tests/test_utils.py
Due: none

apply recommendations from yamlint
  hepbenchmarksuite/config/benchmarks.yml
Due: none

Fix typo
  hepbenchmarksuite/config/benchmarks.yml
Due: none

include fix for extractor
  hepbenchmarksuite/plugins/extractor.py
Due: none

Change config to default hep-score rc9
  hepbenchmarksuite/config/benchmarks.yml
  tests/hepscore_ci.yaml
Due: none

update missing file
  tests/benchmarks_ci_test.yml
Due: none

BMK-602: Add support to install hep-score in virtual environment.
  README.md
  hepbenchmarksuite/benchmarks.py
Due: none

BMK-602: Apply fix for case env is not defined.
  hepbenchmarksuite/benchmarks.py
Due: none

BMK-591, BMK-601 Several improvements to the bmkrun cli.
  .gitlab-ci.yml
  README.md
  bin/bmkrun
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/hepbenchmarksuite.py
Due: test_python_support, test_yaml_files

Fix CI for bmkrun dropped flag.
  .gitlab-ci.yml
Due: test_yaml_files

Increase test coverage for utils.py
  tests/test_utils.py
Due: none

Update CI to run hs06 with benchmark subset.
  .gitlab-ci.yml
Due: test_yaml_files

Remove dropped key.
  tests/benchmarks_ci_test.yml
Due: none

BMK-630 Update hepspec06 and spec2017 default iterations.
  hepbenchmarksuite/config/benchmarks.yml
Due: none

Path conditions:
  job_build_logstash_image: any of: docker-images/logstash/*
  job_build_elasticsearch_image: any of: docker-images/es-extractor/*
  test_python_support: any of: *.py, bin/*
  test_yaml_files: any of: *.yaml, *.yml
