Repository dcsouthwick/iobmk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job_build_logstash_image, job_build_elasticsearch_image, test_python_support, test_yaml_files

Path conditions:
  job_build_logstash_image: any of: docker-images/logstash/*
  job_build_elasticsearch_image: any of: docker-images/es-extractor/*
  test_python_support: any of: *.py, bin/*
  test_yaml_files: any of: *.yaml, *.yml

Add test for config missmatch.
  .gitlab-ci.yml
  README.md
Due: test_yaml_files

Update config to match hep-score
  .gitlab-ci.yml
  hepbenchmarksuite/config/benchmarks.yml
Due: test_yaml_files

Fix typo
  .gitlab-ci.yml
Due: test_yaml_files

Remove install of curl
  .gitlab-ci.yml
Due: test_yaml_files

initial removal of shell=True, handle pipe | command
  hepbenchmarksuite/utils.py
Due: none

WIP: remove subprocess shell=true
  hepbenchmarksuite/utils.py
Due: none

remove duplicate subprocess method, TODO: unit tests
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
  tests/test_utils.py
  tox.ini
Due: none

try import differently
  hepbenchmarksuite/plugins/extractor.py
Due: none

revert extractor changes, still todo
  .gitignore
  .gitlab-ci.yml
  bin/bmk_show_metadata
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
Due: test_python_support, test_yaml_files

updated subprocess methods trial
  hepbenchmarksuite/plugins/extractor.py
  tests/test_hwmetadata.py
  tox.ini
Due: none

do not encode Popen during call for pipe | commands
  hepbenchmarksuite/utils.py
Due: none

catch missing binary in subprocess
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
  tests/test_hwmetadata.py
Due: none

remove 3.5 subprocess.run for Popen
  hepbenchmarksuite/plugins/extractor.py
Due: none

update badge, move first info user wants to see to the first place they look
  README.md
Due: none

variables test
  .gitlab-ci.yml
Due: test_yaml_files

do not declare PATH in CI - bad things happen
  .gitlab-ci.yml
Due: test_yaml_files

WIP: stream stdout test for container exec
  hepbenchmarksuite/utils.py
  test.py
Due: test_python_support

fix docker PATH
  .gitlab-ci.yml
Due: test_yaml_files

ci singularity cache in workdir
  .gitlab-ci.yml
Due: test_yaml_files

reduce artifacts size
  .gitlab-ci.yml
Due: test_yaml_files

do not use singularity cache for docker tests
  .gitlab-ci.yml
Due: test_yaml_files

restore unpriv user for singularity tests
  .gitlab-ci.yml
Due: test_yaml_files

add verbose switch to utils subprocess
  hepbenchmarksuite/utils.py
  test.py
Due: test_python_support

revert xl
  .gitlab-ci.yml
Due: test_yaml_files

try non-xl priv runners
  .gitlab-ci.yml
Due: test_yaml_files

rebase to qa-v2.0
  .gitignore
  .gitlab-ci.yml
  README.md
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
  tests/test_hwmetadata.py
Due: test_yaml_files

fix yaml syntax
  .gitlab-ci.yml
  test.py
Due: test_python_support, test_yaml_files

try update 2nd ref json
  tests/docker_compose_amq_to_es/es_conf/ref_summary_output.json
Due: none

Change file to link
  tests/docker_compose_amq_to_es/es_conf/ref_summary_output.json
Due: none

Add copies to ES testing
  tests/docker_compose_amq_to_es/es_conf/ref_summary_output.json
Due: none

rebase tab matching failure
  hepbenchmarksuite/plugins/extractor.py
Due: none

Revert "Change file to link"
  tests/docker_compose_amq_to_es/es_conf/ref_summary_output.json
Due: none

find paths
  .gitlab-ci.yml
Due: test_yaml_files

generate json without tox
  .gitlab-ci.yml
  tox.ini
Due: test_yaml_files

add parallel execution to linter
  .gitlab-ci.yml
Due: test_yaml_files

Update to rules, add code quality reporting
  .gitlab-ci.yml
  test-requirements.txt
  tox.ini
Due: test_yaml_files

hunt for job failure reason
  .gitlab-ci.yml
Due: test_yaml_files

remove redundant pep8 job
  .gitlab-ci.yml
Due: test_yaml_files
