Repository dcsouthwick/iobmk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job_build_logstash_image, job_build_elasticsearch_image, test_python_support, test_yaml_files

job_build_logstash_image:
  image:
    name: gitlab-registry.cern.ch/ci-tools/docker-image-builder
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

job_build_elasticsearch_image:
  image:
    name: gitlab-registry.cern.ch/ci-tools/docker-image-builder
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

test_python_support:
  stage: test-components
  dependencies: []
  script:
  - yum install -y -q python3-pip
  - python3 -m pip install -U pip vermin
  - vermin -vv .

test_yaml_files:
  stage: test-components
  dependencies: []
  script:
  - yum install -y -q yamllint
  - cd hepbenchmarksuite/config
  - yamllint benchmarks.yml

BMK-612 Update default benchmark to hepscore.
  hepbenchmarksuite/config/benchmarks.yml
Due: none

BMK-621 Fix error message to info instead of error.
  hepbenchmarksuite/benchmarks.py
Due: none

BMK-613, BMK-614 Apply modifications to uid.
  README.md
  bin/bmkrun
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/utils.py
  tests/benchmarks_ci_test.yml
  tests/test_utils.py
Due: test_python_support

Update uuid
  hepbenchmarksuite/utils.py
Due: none

BMK-629 Modify suite --tags behavior.
  README.md
  bin/bmkrun
  hepbenchmarksuite/utils.py
  tests/test_utils.py
Due: test_python_support

BMK-628 Support running HS06, SPEC2017 from /cvmfs
  .gitlab-ci.yml
  hepbenchmarksuite/benchmarks.py
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/utils.py
  tests/benchmarks_ci_test.yml
  tests/ci/yamllint_conf.yml
Due: test_yaml_files

BMK-631 Fix send_queue with certificate
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/plugins/send_queue.py
  tests/test_send_queue.py
Due: none

BMK-470 Add protection to prevent injection through run mode.
  hepbenchmarksuite/hepbenchmarksuite.py
Due: none

Patch to allow singularity-in-singularity runs
  hepbenchmarksuite/benchmarks.py
  hepbenchmarksuite/config/benchmarks.yml
Due: none

Add exception for DB12 in the disk space check.
  hepbenchmarksuite/hepbenchmarksuite.py
Due: none

BMK-300 Documentation Improvements.
  README.md
Due: none

Revert "cleanup requirements"
  .gitlab-ci.yml
  tests/ci/benchmarks.yml
  tests/ci/hepscore.yaml
  tests/test_benchmarks.py
  tests/test_suite.py
Due: test_yaml_files

fix typo and include print condition
  bin/bmkrun
Due: test_python_support

BMK-663, BMK-670: Patch HW metadata and docker execution.
  hepbenchmarksuite/benchmarks.py
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
  tests/test_benchmarks.py
Due: none

BMK-682: Extend support to new SPEC image
  bin/bmkrun
  hepbenchmarksuite/benchmarks.py
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/utils.py
  tests/test_benchmarks.py
  tests/test_suite.py
  tests/test_utils.py
Due: test_python_support

CI fix and benchmark config
  .gitlab-ci.yml
  hepbenchmarksuite/config/benchmarks.yml
Due: test_yaml_files

fix docker-compose timeout tests
  .gitlab-ci.yml
  tests/ci_run_script.sh
  tests/qa_send_queue.bat
Due: test_yaml_files

build a prior image containing only git python (for grid usage)
  .gitlab-ci.yml
Due: test_yaml_files

Fix MR docker-compose timeout tests
  .gitlab-ci.yml
  tests/ci_run_script.sh
  tests/qa_send_queue.bat
Due: test_yaml_files

fix compose in CI
  .gitlab-ci.yml
Due: test_yaml_files

move back ci_run_script.sh in the right place
  tests/ci_run_script.sh
  tests/docker_compose_amq_to_es/ci_run_script.sh
Due: none

job bats_test_compose_qa multiple times. removed
  .gitlab-ci.yml
Due: test_yaml_files

the code does not wait
  tests/docker_compose_amq_to_es/ci_run_script.sh
Due: none

change container tag for compose
  .gitlab-ci.yml
Due: test_yaml_files

remove -e option
  tests/docker_compose_amq_to_es/ci_run_script.sh
Due: none

add before_script
  .gitlab-ci.yml
Due: test_yaml_files

explicit debug
  tests/docker_compose_amq_to_es/ci_run_script.sh
Due: none

desperate test
  .gitlab-ci.yml
Due: test_yaml_files

re-insert tag v0.1 for compose
  .gitlab-ci.yml
Due: test_yaml_files

Update CI and image path
  .gitlab-ci.yml
  hepbenchmarksuite/config/benchmarks.yml
  tests/ci/benchmarks.yml
  tests/test_benchmarks.py
  tests/test_utils.py
Due: test_yaml_files

Update benchmark name
  .gitlab-ci.yml
  hepbenchmarksuite/config/benchmarks.yml
  tests/ci/benchmarks.yml
  tests/test_benchmarks.py
Due: test_yaml_files

Fix docker-compose CI issue.
  .gitlab-ci.yml
  tests/docker_compose_amq_to_es/ci_run_script.sh
Due: test_yaml_files

Move to suite docker runner
  .gitlab-ci.yml
Due: test_yaml_files

use hepspec multiarch image name
  hepbenchmarksuite/config/benchmarks.yml
  tests/ci/benchmarks.yml
Due: none

fix hepspec container name
  tests/test_benchmarks.py
Due: none

use the docker-in-docker we have in our repo
  .gitlab-ci.yml
Due: test_yaml_files

docker-client already in our dind image
  .gitlab-ci.yml
Due: test_yaml_files

remove docker_host config
  .gitlab-ci.yml
Due: test_yaml_files

the prior dockerfile was missing in the last merge
  docker-images/hep-benchmark-suite/Dockerfile-cc7
Due: none

prior images is built as any base image
  .gitlab-ci.yml
Due: test_yaml_files

Path conditions:
  job_build_logstash_image: any of: docker-images/logstash/*
  job_build_elasticsearch_image: any of: docker-images/es-extractor/*
  test_python_support: any of: *.py, bin/*
  test_yaml_files: any of: *.yaml, *.yml
